<%= form_with model: @tweet, local: true do |f|%>

<%= render 'messages/error_messages', resource: @tweet, model: f.object %>

  <div class="field">
    <%= f.label :title, "デッキの名称(33字以内)" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :concept, "コンセプト" %><br />
    <%= f.text_area :concept, class: :form__text %>
  </div>

  <div id="image-list"></div>

  <div class="field">
    <%= f.label :image, "デッキの画像" %><br />
    <%= f.file_field :image, id: 'image_image' %>
  </div>
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>