<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @tweet.title %>
      </p>
      <%= link_to "#{@tweet.user.nickname}", "/users/#{@tweet.user_id}", class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_tweet_path(@tweet), class: :prototype__btn %>
          <%= link_to "削除する", tweet_path(@tweet), method: :delete, class: :prototype__btn %>
          <%=  "閲覧数#{@tweet.impressionist_count}"%>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @tweet.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p> 
          <p class="detail__message">
            <%= @tweet.concept %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
         <%if user_signed_in? %>
          <%= form_with(model: [@tweet, @comment], local: true) do |f|%>
            <div class="action">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="action">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% if @comments %>
           <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to comment.user.nickname , user_path(comment.user), class: :comment_user %>
            </li>
           <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
